.header-container {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}




.nav-links {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 20px;
}

.image {
    height: 30px;
}

.link-container {
    display: flex;
    align-items: center;
}