.header-container {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}




.nav-links {
    list-style-type: none;
    font-family: "Roboto";
    font-weight: bold;
    padding-right: 20px;
    color: black;

}

.image {
    height: 30px;
}

.link-container {
    display: flex;
}

.logout-button {
    height: 30px;
    border: 0px;
    width: 80px;
    background-color: #3333ff;
    color: #ffffff;
    font-weight: bold;
}



.link-item {
    text-decoration: none;
}



.links-logout-container {
    display: flex;
    align-items: center;
}